<h1>New Order</h1>

<%= render 'form' %>

<%= link_to 'Back', orders_path,class: 'btn btn-outline-primary btn-sm' %>
<%= link_to 'Team Member', team_groups_path,class: 'btn btn-outline-primary btn-sm' %>
<%= link_to 'Add Team Member', new_team_member_groups_path,class: 'btn btn-outline-primary btn-sm' %>
